<nav class="navbar fixed-top navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand">Bookshelf</a>
    <form class="form-inline">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        #searchInput
      >
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="album mt-4 py-5 bg-light">
  <div class="container">
    <h2 class="display-4 text-center mb-3">Books</h2>

    <app-books-list [_search]="searchInput.value"></app-books-list>
  </div>
</div>
